<!--
	Author: W3layouts
	Author URL: http://w3layouts.com
	License: Creative Commons Attribution 3.0 Unported
	License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html lang="en">
<!-- Head -->
<head>
<link rel="icon" href="static/imgs/mylogo.ico">
<title>陆逢阳的个人简历</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset="utf-8">
<meta name="keywords" content="Professional CV a Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />

<!-- menu -->
<link type="text/css" rel="stylesheet" href="css/cm-overlay.css" />
<!-- //menu -->
<link href="css/jquery.fatNav.css" rel="stylesheet" type="text/css">

<!--FlexSlider-->
	<link rel="stylesheet" href="css/flexslider.css" type="text/css" media="screen" />
<!--//FlexSlider-->

<link rel="stylesheet" href="css/lightbox.css"><!-- For-gallery-CSS -->

<!-- custom css theme files -->
	<link rel="stylesheet" href="css/bootstrap.min.css" type="text/css" media="all">
	<link rel="stylesheet" href="css/font-awesome.min.css" />
	<link rel="stylesheet" href="css/style.css" type="text/css" media="all">
<!-- //custom css theme files -->

<!-- google fonts -->
<link href="//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&amp;subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese" rel="stylesheet">
<link href="//fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&amp;subset=cyrillic,cyrillic-ext,latin-ext,vietnamese" rel="stylesheet">
<!-- //google fonts -->
	

</head>
<!-- Body -->
<body id="home">
<!-- nav -->
<div class="w3layouts-nav-right">
	<div class="fat-nav">
		<div class="fat-nav__wrapper">
			<ul>
				<li><a href="../../index.html" >回到首页</a></li>
				<li><a href="#about"  class="scroll" >关于我</a></li>
				<li><a href="#services"  class="scroll" >我能提供的服务</a></li>
				<li><a href="#skills"  class="scroll" >我的技能</a></li>
				<!--<li><a href="#gallery"  class="scroll" >My projects</a></li>-->
				<!--<li><a href="#stats"  class="scroll" >Stats</a></li>-->
				<li><a href="#experience"  class="scroll" >我的工作经历</a></li>
				<li><a href="#contact"  class="scroll" >与我联系</a></li>
			</ul>
		</div>
	</div>
</div>		
<!-- //nav -->

<!-- About section -->
<div class="about" id="about">
	<div class="container">
		<h3 class="text-center">关于我</h3>		
		<div class="col-md-5 about_left"></div>
		<div class="col-md-7 about_right">
			<h3>你好，我是陆逢阳</h3>
			<p>供职于中国空空导弹研究院，嵌入式软件工程师，四年工作经验</p>
			<p>毕业于吉林大学电子学院，微电子学专业，2014年取得硕士学位，2011年取得学士学位</p>
			<p>我认为人生的意义在于实现自己的价值，塑造越来越好的自己。因此在工作中我总是全力以赴，力求做到最好。同时也在不断丰富自己的技能树，学习许多其他领域的知识。</p>
			<p>我有着广泛的兴趣爱好，例如看书、运动、旅行等。我认为人需要有自己的减压方式，这样才能获得心理的健康和生活的质量，广泛的兴趣爱好就是我的减压方式。</p>
			<ul>
				<li><a href="#contact" class="w3l scroll">与我联系</a></li>
			</ul>
		</div>
		<div class="clearfix"></div>
		
	</div>
</div>
<!-- //About section -->

<!-- /services -->
<div class="w3-services" id="services">
	<div class="container">
			<div class="w3-services-grids">
						<h3 class="text-center">我能提供的服务</h3>
				<div class="col-md-12 w3-services-right-grid">
					<div class="w3-icon-grid-gap1">
						<div class="col-md-4 w3-icon-grid1">
							<i class="fa fa-codepen" aria-hidden="true"></i>
							<h3>测控软件</h3>
							<div class="clearfix"></div>
							<p>可用于科学研究和工业生产的测控软件开发</p>
						</div>
						<div class="col-md-4 w3-icon-grid1">
							<i class="fa fa-mobile" aria-hidden="true"></i>
							<h3>网络应用</h3>
							<div class="clearfix"></div>
							<p>PC、mobile全栈式开发</p>
						</div>
						<div class="col-md-4 w3-icon-grid1">
							<i class="fa fa-hourglass" aria-hidden="true"></i>
							<h3>嵌入式软件</h3>
							<div class="clearfix"></div>
							<p>多种嵌入式平台开发</p>
						</div>
						<div class="clearfix"></div>
					</div>
					<div class="w3-icon-grid-gap2">
						<div class="col-md-4 w3-icon-grid1">
							<i class="fa fa-modx" aria-hidden="true"></i>
							<h3>Photoshop</h3>
							<div class="clearfix"></div>
							<p>图形处理和优化</p>
						</div>
						<div class="col-md-4 w3-icon-grid1">
							<i class="fa fa-bar-chart" aria-hidden="true"></i>
							<h3>数据分析</h3>
							<div class="clearfix"></div>
							<p> 数据分析、机器学习 </p>
						</div>
						<div class="col-md-4 w3-icon-grid1">
							<i class="fa fa-shopping-bag" aria-hidden="true"></i>
							<h3>团队建设</h3>
							<div class="clearfix"></div>
							<p>策划活动，提升团队活力、凝聚力</p>
						</div>
						<div class="clearfix"></div>
					</div>
				</div>
			<div class="clearfix"></div>
		</div>
	</div>
</div>
<!-- //services -->

<!--skills -->
<div class="skills-agileinfo" id="skills">
	<div class="container">
		<h3 class="text-center">我的技能</h3>
				<div class="modal-spa">
					<div class="skills"> 
						<div class="col-md-6 bar-grids bargrids-left">
							<h4> 技术技能 </h4>
							<p>下面是我所掌握的一些工程技能，以及在这个领域对自己的评价</p>
							<h6> Labwindows测控软件开发  <span> 80% </span></h6>
							<div class="progress">
								<div class="progress-bar progress-bar-striped active" style="width: 80%">
								</div>
							</div>
							<h6> bootst+django网络开发 <span> 70% </span></h6>
							<div class="progress  w3-agile">
								<div class="progress-bar progress-bar-striped active" style="width: 70%">
								</div>
							</div>
							<h6> DSP、STM32、Raspberry嵌入式软件开发 <span>90% </span></h6>
							<div class="progress  w3-agile">
								<div class="progress-bar progress-bar-striped active" style="width: 90%">
								</div>
							</div>
							<h6> Python数据分析 <span> 75% </span></h6>
							<div class="progress  w3-agile prgs-w3agile-last">
								<div class="progress-bar progress-bar-striped active" style="width: 75%">
								</div>
							</div>
						</div> 
						<div class="col-md-6 bar-grids  w3-agile">
							<h4> 我的爱好 </h4>
							<p> 以下是我的兴趣爱好，这些爱好充实了我的业余时间 </p>
							<div class="col-md-4 hobbies-grid1 grid1">
								<span class="fa fa-codepen"></span>
								<h5>编程</h5>
							</div>
							<div class="col-md-4 hobbies-grid1 grid2">
								<span class="fa fa-hourglass"></span>
								<h5>研究</h5>
							</div>
							<div class="col-md-4 hobbies-grid1 grid3">
								<span class="fa fa-camera"></span>
								<h5>拍照</h5>
							</div>
							<div class="clearfix"></div>
							
							<div class="col-md-4 hobbies-grid1 grid4">
								<span class="fa fa-plane"></span>
								<h5>旅行</h5>
							</div>
							<div class="col-md-4 hobbies-grid1 grid5">
								<span class="fa fa-headphones"></span>
								<h5>音乐</h5>
							</div>
							<div class="col-md-4 hobbies-grid1 grid6">
								<span class="fa fa-tint"></span>
								<h5>冥思</h5>
							</div>
							<div class="clearfix"></div>
							
						</div>
						<div class="clearfix"> </div>	
					</div>
				</div> 
		</div> 
</div> 
<!-- //skills -->

<!--gallery
	<div class="gallery" id="gallery">
		<div class="container">
		<div class="about-head text-center ">
		<h3 class="text-center">My Projects</h3>
		</div>	
			<div class="gallery-info">
				<div class="col-md-3 gallery-grids">
					<a href="images/p1.jpg" class="gallery-box" data-lightbox="example-set" data-title="">
						<img src="images/p1.jpg" alt="" class="img-responsive zoom-img">
					</a>
				</div>
				<div class="col-md-3 gallery-grids">
					<a href="images/p2.jpg" class="gallery-box" data-lightbox="example-set" data-title="">
						<img src="images/p2.jpg" alt="" class="img-responsive zoom-img">
					</a>
				</div>
				<div class="col-md-3 gallery-grids">
					<a href="images/p3.jpg" class="gallery-box" data-lightbox="example-set" data-title="">
						<img src="images/p3.jpg" alt="" class="img-responsive zoom-img">
					</a>
				</div>
				<div class="col-md-3 gallery-grids">
					<a href="images/p4.jpg" class="gallery-box" data-lightbox="example-set" data-title="">
						<img src="images/p4.jpg" alt="" class="img-responsive zoom-img">
					</a>
				</div>
				<div class="col-md-3 gallery-grids">
					<a href="images/p5.jpg" class="gallery-box" data-lightbox="example-set" data-title="">
						<img src="images/p5.jpg" alt="" class="img-responsive zoom-img">
					</a>
				</div>
				<div class="col-md-3 gallery-grids">
					<a href="images/p6.jpg" class="gallery-box" data-lightbox="example-set" data-title="">
						<img src="images/p6.jpg" alt="" class="img-responsive zoom-img">
					</a>
				</div>
				<div class="col-md-3 gallery-grids">
					<a href="images/p7.jpg" class="gallery-box" data-lightbox="example-set" data-title="">
						<img src="images/p7.jpg" alt="" class="img-responsive zoom-img">
					</a>
				</div>
				<div class="col-md-3 gallery-grids">
					<a href="images/p8.jpg" class="gallery-box" data-lightbox="example-set" data-title="">
						<img src="images/p8.jpg" alt="" class="img-responsive zoom-img">
					</a>
				</div>
				<div class="col-md-3 gallery-grids">
					<a href="images/p9.jpg" class="gallery-box" data-lightbox="example-set" data-title="">
						<img src="images/p9.jpg" alt="" class="img-responsive zoom-img">
					</a>
				</div>
				<div class="col-md-3 gallery-grids">
					<a href="images/p10.jpg" class="gallery-box" data-lightbox="example-set" data-title="">
						<img src="images/p10.jpg" alt="" class="img-responsive zoom-img">
					</a>
				</div>
				<div class="col-md-3 gallery-grids">
					<a href="images/p11.jpg" class="gallery-box" data-lightbox="example-set" data-title="">
						<img src="images/p11.jpg" alt="" class="img-responsive zoom-img">
					</a>
				</div>
				<div class="col-md-3 gallery-grids">
					<a href="images/p12.jpg" class="gallery-box" data-lightbox="example-set" data-title="">
						<img src="images/p12.jpg" alt="" class="img-responsive zoom-img">
					</a>
				</div>
				<div class="clearfix"> </div>	
			</div>
			<script src="js/lightbox-plus-jquery.min.js"></script>
		</div>
</div>
//gallery-->

<!-- stats 
	<div class="stats" id="stats">
		<div class="container">
		<h3 class="text-center">Stats</h3>
			<div class="w3layouts_skills_grids">
				<div class="col-md-3 w3ls_about_guage">
					<canvas id="gauge1" width="200" height="100"></canvas>
					<h4>Projects Done</h4>
				</div>
				<div class="col-md-3 w3ls_about_guage">
					<canvas id="gauge2" width="200" height="100"></canvas>
					<h4>Mobile Apps</h4>
				</div>
				<div class="col-md-3 w3ls_about_guage">
					<canvas id="gauge3" width="200" height="100"></canvas>
					<h4>Clients Success</h4>
				</div>
				<div class="col-md-3 w3ls_about_guage">
					<canvas id="gauge4" width="200" height="100"></canvas>
					<h4>Sales</h4>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
stats -->

<!-- My experience -->
<section class="experience" id="experience">
	<div class="container">
		<h3 class="text-center">项目经历</h3>
		<div class="col-md-5 exp_left">
			<img src="images/shindey.jpg" alt="" />
		</div>
		<div class="col-md-7 exp_right">
			<div class="exp_grids">
				<div class="exp_grid1">
					<h4>博客网站</h4>
					<h5>2019-至今</h5>
					<p>基于bootstrap+django+mysql框架，实现了博客网站的各项功能。 </p>
					<span class="fa fa-circle"></span>
				</div>
				<div class="exp_grid1">
					<h4>基于遗传算法的PID参数自动整定算法研究</h4>
					<h5>2017-2019</h5>
					<p>将人工智能应用在伺服系统设计中，提高伺服系统PID控制参数整定效率，基于labwindows+DSP，C语言实现，代码量8000行。</p>
					<span class="fa fa-circle"></span>
				</div>
				<div class="exp_grid1">
					<h4>用于现场装配的多功能智能遥控车</h4>
					<h5>2014-2017</h5>
					<p>设计一款搭载机械臂的智能车，使其能在生产现场移动并完成搬运、装配等生产任务，基于DSP采用C语言实现，代码量8000行。 </p>
					<span class="fa fa-circle"></span>
				</div>
				<div class="exp_grid1">
					<h4>用于CMOS图像传感器读取电路的ADC设计 </h4>
					<h5>2012-2014</h5>
					<p>硕士期间研究课题，在有限的芯片面积内设计一款高精度ADC，用于高速高精度CMOS图像传感器的像素信号读取电路，基于Cadence软件完成电路设计及版图绘制，进行后仿真，电路性能满足设计指标。   </p>
					<span class="fa fa-circle"></span>
				</div>
			</div>
		</div>
		<div class="clearfix"></div>
	</div> 
</section> 
<!-- //My experience -->

<!-- comments -->
<section class="comment-w3l" id="contact">
	<div class="container">
		<h3 class="text-center">与我联系</h3>
		<div class="col-lg-6 col-md-12 col-sm-6 comment-agile2" data-aos="flip-right">
			<h4>与我接触，获取详细信息</h4>
			<p class="comment-w3">感谢您浏览我的个人简历，如果您希望和我有进一步的沟通，请通过以下方式同我联系，期待您的来信。</p>
			
			<h5><span class="fa fa-phone"></span> 0379-63385240</h5>
			<h5><span class="fa fa-envelope"></span> <a href="mailto:name@example.com"> lufengyang07@163.com</a></h5>
			<h5><span class="fa fa-map-marker"></span>洛阳市西工区解放路166号</h5>
			<h5><span class="fa fa-facebook"></span> facebook/@陆逢阳</h5>
			<h5><span class="fa fa-twitter"></span> wechat/@陆逢阳</h5>
			<h5><span class="fa fa-wechat"></span> wechat/@Leo_Young6</h5>
			<h5><span class="fa fa-weibo"></span> weibo/@大面奤-leo</h5>
		</div>
		<div class="clearfix"></div>
	</div>
</section>
<!-- /comments -->

<div class="w3l_footer">
		<div class="container">
			<h3>Thanks for visiting my site</h3>
				<div class="connect-social">  
					<ul>
						<li class="connect">Connect me with : </li>
						<li><a href="#contact" class="social-button facebook"><i class="fa fa-facebook"></i></a></li>
						<li><a href="#contact" class="social-button twitter"><i class="fa fa-twitter"></i></a></li>
						<li><a href="#contact" class="social-button wechat"><i class="fa fa-wechat"></i></a></li>
						<li><a href="#contact" class="social-button weibo"><i class="fa fa-weibo"></i></a></li>
					</ul>
				</div>
			<div class="arrow-container animated fadeInDown">
				<a href="#home" class="arrow-2 scroll">
					<i class="fa fa-angle-up"></i>
				</a>
				<div class="arrow-1 animated hinge infinite zoomIn"></div>
			</div>
		</div>
	</div>
	<!--//footer -->


<!-- Default-JavaScript-File -->
	<script type="text/javascript" src="js/jquery-2.1.4.min.js"></script>
	<script type="text/javascript" src="js/bootstrap.min.js"></script>
<!-- //Default-JavaScript-File -->

<!-- gauge-meter -->
	<script src="js/jquery.gauge.js"></script>
	<script>
		$(document).ready(function (){
			$("#gauge1").gauge(90,{color: "#ff4f81",unit: " %",type: "halfcircle"});
			$("#gauge2").gauge(70, {color: "#2dde98", unit: " %",type: "halfcircle"});
			$("#gauge3").gauge(75, {color: "#00aeff",unit: " %",type: "halfcircle"});
			$("#gauge4").gauge(40, {color: "#ffb900",unit: " %",type: "halfcircle"});
		});
	</script>
<!-- //gauge-meter -->

<!--menu script-->
<script type="text/javascript" src="js/modernizr-2.6.2.min.js"></script>
		<script src="js/jquery.fatNav.js"></script>
		<script>
		(function() {
			
			$.fatNav();
			
		}());
		</script>

<!--Start-slider-script-->
	<script defer src="js/jquery.flexslider.js"></script>
		<script type="text/javascript">
		
		$(window).load(function(){
		  $('.flexslider').flexslider({
			animation: "slide",
			start: function(slider){
			  $('body').removeClass('loading');
			}
		  });
		});
	  </script>
<!--End-slider-script-->

<!-- smooth scrolling -->
	<script src="js/SmoothScroll.min.js"></script>
<!-- smooth scrolling -->

<!-- scrolling script -->
<script type="text/javascript">
	jQuery(document).ready(function($) {
		$(".scroll").click(function(event){		
			event.preventDefault();
			$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
		});
	});
</script> 
<!-- //scrolling script -->
	
	
</body>
<!-- //Body -->
</html>
