<!--
	Author: W3layouts
	Author URL: http://w3layouts.com
	License: Creative Commons Attribution 3.0 Unported
	License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html lang="en">
<!-- Head -->
<head>
<title>与我联系</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset="utf-8">
<meta name="keywords" content="Professional CV a Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />

<!-- menu -->
<link type="text/css" rel="stylesheet" href="about/css/cm-overlay.css" />
<!-- //menu -->
<link href="about/css/jquery.fatNav.css" rel="stylesheet" type="text/css">

<!--FlexSlider-->
	<link rel="stylesheet" href="about/css/flexslider.css" type="text/css" media="screen" />
<!--//FlexSlider-->

<link rel="stylesheet" href="about/css/lightbox.css"><!-- For-gallery-CSS -->

<!-- custom css theme files -->
	<link rel="stylesheet" href="about/css/bootstrap.min.css" type="text/css" media="all">
	<link rel="stylesheet" href="about/css/font-awesome.min.css" />
	<link rel="stylesheet" href="about/css/style.css" type="text/css" media="all">
<!-- //custom css theme files -->

<!-- google fonts -->
<link href="//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&amp;subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese" rel="stylesheet">
<link href="//fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&amp;subset=cyrillic,cyrillic-ext,latin-ext,vietnamese" rel="stylesheet">
<!-- //google fonts -->
<link ref="stylesheet" href="../static/css/carousel.css" type="text/css">
	

</head>
<!-- Body -->
<body id="home">
	
    <div class="navbar-wrapper">
      <div class="container">

        <nav class="navbar navbar-inverse navbar-static-top">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="../index.html">陆逢阳</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li class="active"><a href="../index.html">首页</a></li>
                <li><a href="about/resume.html">个人简历</a></li>
                <li><a href="note/menupage.html">学习笔记</a></li>
                <li><a href="news/menupage.html">最新动态</a></li>
                <li><a href="#">联系我</a></li>
              </ul>
            </div>
          </div>
        </nav>

      </div>
    </div>
  
<!-- comments -->
<section class="comment-w3l" id="contact">
	<div class="container">
		<h3 class="text-center">与我联系</h3>
		<div class="col-lg-6 col-md-12 col-sm-6 comment-agile2" data-aos="flip-right">
			<h4>与我接触，获取详细信息</h4>
			<p class="comment-w3">感谢您浏览我的个人简历，如果您希望和我有进一步的沟通，请通过以下方式同我联系，期待您的来信。</p>
			
			<h5><span class="fa fa-phone"></span> 0379-63385240</h5>
			<h5><span class="fa fa-envelope"></span> <a href="mailto:name@example.com"> lufengyang07@163.com</a></h5>
			<h5><span class="fa fa-map-marker"></span>洛阳市西工区解放路166号</h5>
			<h5><span class="fa fa-facebook"></span> facebook/@陆逢阳</h5>
			<h5><span class="fa fa-twitter"></span> wechat/@陆逢阳</h5>
			<h5><span class="fa fa-wechat"></span> wechat/@Leo_Young6</h5>
			<h5><span class="fa fa-weibo"></span> weibo/@大面奤-leo</h5>
		</div>
		<div class="clearfix"></div>
	</div>
</section>
<!-- /comments -->

<div class="w3l_footer">
		<div class="container">
			<h3>Thanks for visiting my site</h3>
				<div class="connect-social">  
					<ul>
						<li class="connect">Connect me with : </li>
						<li><a href="#contact" class="social-button facebook"><i class="fa fa-facebook"></i></a></li>
						<li><a href="#contact" class="social-button twitter"><i class="fa fa-twitter"></i></a></li>
						<li><a href="#contact" class="social-button wechat"><i class="fa fa-wechat"></i></a></li>
						<li><a href="#contact" class="social-button weibo"><i class="fa fa-weibo"></i></a></li>
					</ul>
				</div>
		</div>
	</div>
	<!--//footer -->


<!-- Default-JavaScript-File -->
	<script type="text/javascript" src="about/js/jquery-2.1.4.min.js"></script>
	<script type="text/javascript" src="about/js/bootstrap.min.js"></script>
<!-- //Default-JavaScript-File -->

<!-- gauge-meter -->
	<script src="about/js/jquery.gauge.js"></script>
	<script>
		$(document).ready(function (){
			$("#gauge1").gauge(90,{color: "#ff4f81",unit: " %",type: "halfcircle"});
			$("#gauge2").gauge(70, {color: "#2dde98", unit: " %",type: "halfcircle"});
			$("#gauge3").gauge(75, {color: "#00aeff",unit: " %",type: "halfcircle"});
			$("#gauge4").gauge(40, {color: "#ffb900",unit: " %",type: "halfcircle"});
		});
	</script>
<!-- //gauge-meter -->

<!--
<!--menu script-->
<script type="text/javascript" src="about/js/modernizr-2.6.2.min.js"></script>
		<script src="js/jquery.fatNav.js"></script>
		<script>
		(function() {
			
			$.fatNav();
			
		}());
		</script>
-->
  
<!--Start-slider-script-->
	<script defer src="about/js/jquery.flexslider.js"></script>
		<script type="text/javascript">
		
		$(window).load(function(){
		  $('.flexslider').flexslider({
			animation: "slide",
			start: function(slider){
			  $('body').removeClass('loading');
			}
		  });
		});
	  </script>
<!--End-slider-script-->

<!-- smooth scrolling -->
	<script src="about/js/SmoothScroll.min.js"></script>
<!-- smooth scrolling -->

<!-- scrolling script -->
<script type="text/javascript">
	jQuery(document).ready(function($) {
		$(".scroll").click(function(event){		
			event.preventDefault();
			$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
		});
	});
</script> 
<!-- //scrolling script -->
	
	
</body>
<!-- //Body -->
</html>
